SIGNAL_SERVICE="<IP>:<PORT>"
PHONE_NUMBER="<+...NUMBER>"
ATTACHMENT_PATH=".config/attachments"
POSTGRES_USR=langfuse
#generate pwd with openssl rand -hex 32
POSTGRES_PWD=
POSTGRES_DB=langfuse
#generate pwd with openssl rand -base64 32
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
#generate pwd with openssl rand -base64 32
SALT=